DATABASE_URL=''

NEXTAUTH_SECRET=''
NEXTAUTH_URL=''

DISCORD_CLIENT_ID=''
DISCORD_CLIENT_SECRET=''

DATABASE_URL=''
ENCRYPTION_KEY=''

MYNCER_CLIENT_ID=''
MYNCER_REDIRECT_URL=''
MYNCER_CLIENT_SECRET=''

GOOGLE_MYNCER_CLIENT_ID=''
GOOGLE_MYNCER_CLIENT_SECRET=''
GOOGLE_MYNCER_REDIRECT_URL=''