**/.env
.env
# Nix downloads thirdparty stuff into here.
thirdparty/
.DS_Store
**/node_modules/**
server/config.dev.textpb
server/config.prod.textpb


logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist
dist-ssr
*.local
.vscode/*
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
