openapi: 3.0.3
info:
  title: Myncer API
  version: 1.0.0
servers:
  - url: https://myncer-api.hansbala.com/api/v1
    description: Production server
  - url: http://localhost:8080/api/v1
    description: Local dev server
paths:
  /users/create:
    post:
      summary: Create a user
      operationId: createUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUserRequest"
      responses:
        201:
          description: User created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateUserResponse"
        400:
          description: Bad Request
        500:
          description: Internal Server Error
  /users/list:
    get:
      summary: List all users.
      operationId: listUsers
      responses:
        200:
          description: The list of all users.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListUsersResponse"
  /users/login:
    post:
      summary: Login the user based on credentials provided in the request.
      operationId: loginUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserLoginRequest"
      responses:
        200:
          description: Login successful. Session cookie is set.
          headers:
            Set-Cookie:
              description: Authentication cookie.
              schema:
                type: string
        400:
          description: Bad Request
        401:
          description: Unauthorized
        500:
          description: Internal Server Error
  /users/logout:
    post:
      summary: Log out the currently authenticated user by clearing the session cookie.
      operationId: logoutUser
      responses:
        200:
          description: Logout successful. Authentication cookie cleared.
          headers:
            Set-Cookie:
              description: Expired authentication cookie to clear session.
              schema:
                type: string
        401:
          description: Unauthorized
        500:
          description: Internal Server Error
  /users/edit:
    post:
      summary: Edits the current user.
      operationId: editUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EditUserRequest"
      responses:
        200:
          description: User edited successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        400:
          description: Bad Request
        401:
          description: Unauthorized
        500:
          description: Internal Server Error
  /users/me:
    get:
      summary: Get the potentially authenticated user's details.
      operationId: getCurrentUser
      responses:
        200:
          description: Authenticated user's details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
  /auth/{datasource}/exchange:
    post:
      summary: Exchange authorization code for access and refresh tokens
      description: |
        Exchanges an OAuth2 authorization code from a supported datasource for access and refresh tokens.
      operationId: exchangeOAuthCode
      parameters:
        - name: datasource
          in: path
          required: true
          description: The datasource to exchange the code for (e.g. 'spotify', 'youtube').
          schema:
            $ref: "#/components/schemas/Datasource"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OAuthExchangeRequest"
      responses:
        200:
          description: Token exchange successful
        401:
          description: Unauthorized
        500:
          description: Internal Server Error
  /datasources/list:
    get:
      summary: Get list of connected datasources
      description: Get list of connected datasources of the current user.
      operationId: listConnectedDatasources
      responses:
        200:
          description: List of connection datasources.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListDatasourcesResponse"
        401:
          description: Unauthorized
        500:
          description: Internal Server Error
  /syncs/create:
    post:
      summary: Create a sync for the current user between two (datasource, playlist) tuples.
      description: |
        Creates a sync job for the current user between a (datasource, playlist tuple).
      operationId: createSync
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSyncRequest"
      responses:
        201:
          description: Sync created successfully.
        400:
          description: Bad Request
        401:
          description: Unauthorized
        500:
          description: Internal Server Error
  /syncs/list:
    get:
      summary: List all syncs.
      description: List all syncs for the current user.
      operationId: listSyncs
      responses:
        200:
          description: All syncs for the current user.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListSyncsResponse"
components:
  schemas:
    CreateUserRequest:
      type: object
      required:
        - firstName
        - lastName
        - email
        - password
      properties:
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
          format: email
        password:
          description: The plain text password of the user.
          type: string
    CreateUserResponse:
      type: object
      properties:
        id:
          description: Id of the created user.
          type: string
          example: abcd-1234
    ListUsersResponse:
      type: object
      properties:
        users:
          type: array
          items:
            $ref: "#/components/schemas/User"
    User:
      type: object
      required:
        - id
        - firstName
        - lastName
        - email
      properties:
        id:
          description: The unique ID of the user.
          type: string
          format: uuid
        firstName:
          description: First name of the user.
          type: string
        lastName:
          description: Last name of the user.
          type: string
        email:
          description: Email of the user.
          type: string
          format: email
    UserLoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          description: Email of the user trying to login.
          type: string
          format: email
        password:
          description: Password of the user.
          type: string
    EditUserRequest:
      allOf:
        - $ref: "#/components/schemas/CreateUserRequest"
    Datasource:
      type: string
      enum:
        - SPOTIFY
        - YOUTUBE
        - DEEZER
        - TIDAL
    OAuthExchangeRequest:
      type: object
      required:
        - code
      properties:
        code:
          type: string
          description: The authorization code returned by the datasource.
        state:
          type: string
          description: Optional CSRF protection token returned from the datasource.
    ListDatasourcesResponse:
      type: object
      required:
        - connectedDatasources
      properties:
        connectedDatasources:
          type: array
          items:
            $ref: "#/components/schemas/Datasource"
    CreateSyncRequest:
      type: object
      required:
        # This is just a wrapper type so no need for defining in properties.
        - syncVariant
      discriminator:
        propertyName: syncVariant
        mapping:
          ONE_WAY: "#/components/schemas/OneWaySync"
          MERGE: "#/components/schemas/MergeSync"
      oneOf:
        - $ref: "#/components/schemas/OneWaySync"
        - $ref: "#/components/schemas/MergeSync"
    Sync:
      type: object
      required:
        - id
        - createdAt
        - updatedAt
        # This object includes fields of it's own (createdAt, updatedAt) so we need to define the
        # variant explicitly on the object.
        - syncVariant
        - syncData
      properties:
        id:
          type: string
          description: Unique id of the sync.
        createdAt:
          description: The timestamp this sync was created at.
          type: string
          format: date-time
        updatedAt:
          description: The timestamp this sync was updated at.
          type: string
          format: date-time
        syncVariant:
          $ref: "#/components/schemas/SyncVariant"
        syncData:
          oneOf:
            - $ref: "#/components/schemas/OneWaySync"
            - $ref: "#/components/schemas/MergeSync"
          discriminator:
            propertyName: syncVariant
            mapping:
              ONE_WAY: "#/components/schemas/OneWaySync"
              MERGE: "#/components/schemas/MergeSync"
    OneWaySync:
      description: Representative of source -> destination.
      type: object
      required:
        - syncVariant
        - source
        - destination
      properties:
        syncVariant:
          $ref: "#/components/schemas/SyncVariant"
        source:
          $ref: "#/components/schemas/MusicSource"
        destination:
          $ref: "#/components/schemas/MusicSource"
        overwriteExisting:
          description: |
            Overwrites destination songs. 
            If a song exists in source but not in destination, 
            the song will be lost from destination.
          type: boolean
    MergeSync:
      description: Representative of merging sources into a master source and writing to all.
      type: object
      required:
        - syncVariant
        - sources
      properties:
        syncVariant:
          $ref: "#/components/schemas/SyncVariant"
        sources:
          description: All sources that will be merged into one and written back to sources.
          type: array
          items:
            $ref: "#/components/schemas/MusicSource"
    MusicSource:
      type: object
      required:
        - datasource
        - playlistId
      properties:
        datasource:
          $ref: "#/components/schemas/Datasource"
        playlistId:
          type: string
          description: Unique, stable playlist identifier for the datasource.
    ListSyncsResponse:
      type: object
      required:
        - syncs
      properties:
        syncs:
          type: array
          items:
            $ref: "#/components/schemas/Sync"
    SyncVariant:
      description: The variant type of the sync.
      type: string
      enum:
        - ONE_WAY
        - MERGE
