DB_URL="postgres://devuser:devpass@localhost:5432/myncer"
# Can generate using `openssl rand -hex 32`.
JWT_SECRET=""
# Possible values: dev / prod
SERVER_MODE=""
# Can be obtained from https://developer.spotify.com/dashboard/<app-id>. You can create a new one.
SPOTIFY_CLIENT_ID=""
SPOTIFY_CLIENT_SECRET=""
SPOTIFY_REDIRECT_URI="http://localhost:5173/spotify/callback"
